.primary-header{
    font-size: 4rem;
    text-align: center;
    line-height: 7rem;
    letter-spacing: 3px;

}
.primary-header::after{
    content: "";
    width: 10%;
    display: block;
    border: 2px solid $gold-color;
    margin: 0 auto;

}

.tertiary-header{
    font-size: 3rem;
    letter-spacing: 3px;
    text-transform: capitalize;
    font-weight: 400;
}

.paragraph{
    font-size: 1.6rem;
    // font-weight: 200;
    color: rgba(#000,.5);
}

.price{
    color: $gold-color;
    font-size: 2rem;
    font-weight: 400;
}